$grey: #444;
$darkgrey: #333;
$lightgrey: #ddd;
$black: #111;
$white: #fff;

$background-color-body: $grey;
$background-color-main: $darkgrey;
$background-color-sidebar: $lightgrey;
$background-color-qrcode: $white;
$background-color-toggle: $grey;
$background-color-toggle-hover: $lightgrey;
$background-color-toggled-hover: $grey;
$color-main: $white;
$color-sidebar: $black;
$color-qrcode: $black;
$color-toggle: $white;
$color-toggle-hover: $grey;
$color-toggled-hover: $white;

$gutter: 6vw;
$fixed-gutter: 10px;
$icon: 40px;
$sidebar: 250px;
$qrcode: 230px;

$font-size: 16px;
$scores-font-size: 16px;
$qrcode-font-size: 11px;