@import "vars";
@import "default";
@import "nav";
@import "screen";
@import "sidebar";
@import "scores";

.controller-link {
    width: 300px;
    height: auto;
    padding: 0 10px 10px 10px;
    background: white;
    word-wrap: break-word;
    text-align: center;
}
.controller-link a,
.controller-link a:visited,
.controller-link a:hover,
.controller-link a:focus {
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}